@import "_oa";

@include font-face("icomoon", font-files("icomoon/fonts/icomoon.eot", "icomoon/fonts/icomoon.woff", "icomoon/fonts/icomoon.ttf", "icomoon/fonts/icomoon.svg"));
[class^="icon-"], [class*=" icon-"] {
  font-family: "icomoon"; speak: none; font-style: normal; font-weight: normal; font-variant: normal;
  @include font-smoothing(antialiased);
}

.icon-video-call-full:before {
  content: "\e904";
}
.icon-e192875e22c4e6ff1308ba342345:before {
  content: "\e905";
}
.icon-sms:before {
  content: "\e901";
}
.icon-play:before {
  content: "\e902";
}
.icon-video-call:before {
  content: "\e903";
}
.icon-logo:before {
  content: "\e900";
}
.icon-play3:before {
  content: "\ea1c";
}